body
{
background-image:url("../img/345.jpg");
}

	h1 {
	color: BlanchedAlmond;
	font-size: 25px;
	font-family: "Century Gothic";
	}
	
	h2 {
	color: chocolate;
	font-size: 25px;
	font-family: "Century Gothic";
	}

	#name
	{
	position:absolute;
	top: 20px;
	right: 10px;
	}
	
	.text {position:absolute;left:500px;text-align: center;background-color: saddlebrown;border: 8px solid maroon;}
	
	#add 
	{
	position:absolute;
	top:50px;
	margin-left:500px;
	text-align: center;
	}
	
	#add3 
	{
	position:absolute;
	top:180px;
	margin-left:530px;
	text-align: center;
	}
	
	#add4
	{
	position:absolute;
	top:180px;
	margin-left:520px;
	text-align: center;
	}
	
	#osh
	{
	position:absolute;
	top:90px;
	margin-left:490px;
	}
	
	#add1
	{
	position:absolute;
	top:350px;
	margin-left:470px;
	text-align: center;
	}
	
	#add2
	{
	position:absolute;
	top:350px;
	margin-left:460px;
	text-align: center;
	}
	
	#navig
	{
	position:absolute;
	top: 170px;
	}
	
	li {
	color: BlanchedAlmond;
	}
	
	a {
	color: BlanchedAlmond;
	font-size: 25px;
	}
	
	h3 {
	color: BlanchedAlmond;
	}
	
	.field {clear:both; text-align:right;}
	label {float:left;}
	.main {float:left;color:BlanchedAlmond;font-size: 25px;}
	
	p{
	font-size: 20px;
	color:BlanchedAlmond;
	}
	
	table
	{
	background-color: saddlebrown;
	position:absolute;
	top: 150px;
	right: 400px;
	}
	
	caption
	{
	color: BlanchedAlmond;
	font-size: 30px;
	font-family: "Century Gothic";
	}
	
	th{
	background-color: chocolate;
	color: BlanchedAlmond;
	}